body {
  font-family: "Arial", sans-serif;
  background: url("https://img.freepik.com/premium-photo/monsoon-season-abstract-background-with-colorful-rain_92152-73055.jpg?semt=ais_hybrid") no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px; 
}
 
h1 {
  margin-bottom: 40px;
  color: #ffffff;
}
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #45a049;
}

